:root {
    --primary-color: rgb(196, 196, 21);
    --secondary-color: #21262b;
    --tertiary-color: rgb(22, 20, 20);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #1c262e;
    color: white;
    padding: 0 50px;
    font-family: 'Share Tech', sans-serif;
}

img {
    height:5%;
    width: 5%;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    border-bottom: 2px solid white;
    margin-bottom: 50px;
}

header h1 {
    font-size: 36px;
    flex: 1 70%;
}

header h1 span{
    font-size: 42px;
}

span {
    color: rgb(196, 196, 21);
}

span:hover {
    border-bottom: 2px solid var(--primary-color);
}

header p {
    font-style: italic;
}

span {
    color: var(--primary-color);
}

.search-card {
    margin: 20px 0 0 20px;
    padding: 20px 20px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: var(--secondary-color);
    width: 40%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-card:hover {
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.search-card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-card input {
    width: 95%;
    border-radius: 15px;
    margin: 10px 0;
    padding: 5px 20px;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.btn {
    padding: 10px;
    border: none;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: var(--primary-color);
}